@import "layout/var";

.header {
  position: absolute;
  top: 17px;
  z-index: 50;
  margin: 0 0 0 50%;
  width: 1065px;
  max-width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;

  @media (max-width: 1400px) {
    width: 870px;
  }

  @media (max-width: $md) {
    width: 785px;
  }

  @media (max-width: $sm) {
    width: 590px;
  }

  @media (max-width: $xs) {
    width: 100%;
    align-items: flex-start;
    top: 0;
    overflow: hidden;
    height: 80px;
    transition: 0.3s;

    &--opened {
      height: auto;
      background: black!important;

      .header-menu {
        opacity: 1;
        pointer-events: auto;
        transition: 0;
      }
    }
  }

  &--scrolling {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 30px;
    z-index: 100;

    @media (max-width: $sm) {
      padding-bottom: 10px;
    }

    @media (max-width: $xs) {
      background: black;
    }

    .header__logo {
      display: none;

      @media (max-width: $xs) {
        display: block;
      }
    }

    .header-menu {
      align-self: flex-start;
      margin-left: 20px;

      @media (max-width: $md) {
        margin-left: 10px;
      }

      @media (max-width: $sm) {
        margin-right: 150px;
      }
    }

    .header__phone {
      left: auto;
      right: 20px;
      top: 14px;

      @media (max-width: 1429px) {
        width: 180px;

        span {
          display: none;
        }
      }

      @media (max-width: $md) {
        right: 10px;
      }
      
      @media (max-width: 1024px) {
        width: 150px;

        a {
          font-size: 20px;
        }
      }

      @media (max-width: $xs) {
        top: 5px;
      }
    }

    .header-soc {
      @media (max-width: 1429px) {
        position: relative;
        bottom: auto;
        align-self: flex-end;
        margin-top: 0px;
        flex-shrink: 0;
        width: 80px;

        &__item {
          width: 16px;
          margin-left: 10px;
          flex-shrink: 0;
        }
      }
    }
  }

  &__logo {
    @media (max-width: $md) {
      width: 180px;
    }

    @media (max-width: $xs) {
      width: 150px;
      margin-top: 5px;
      margin-left: 15px;
    }

    img {
      max-width: 100%;
    }
  }

  &__mobile-menu-button {
    position: absolute;
    right: 15px;
    top: 27px;
    display: none;

    @media (max-width: $xs) {
      display: block;
    }

    span {
      display: block;
      width: 25px;
      height: 2px;
      border-radius: 3px;
      background: white;
      margin: 5px 0;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    left: calc(100% - 120px);
    width: 300px;

    @media (max-width: 1799px) {
      left: calc(100% - 240px);
    }

    @media (max-width: $lg) {
      left: auto;
      right: 0;
    }

    @media (max-width: 1400px) {
      width: 180px;
    }

    @media (max-width: $md) {
      top: 20px;
    }

    @media (max-width: $xs) {
      top: 5px;
      right: auto;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    span {
      color: white;
      font-size: 12px;
      line-height: 14px;

      @media (max-width: $xs) {
        display: none;
      }
    }

    a {
      color: white;
      font-size: 24px;
      line-height: 28px;

      @media (max-width: $xs) {
        font-size: 20px;
      }

      &:hover {
        color: $rose;
      }
    }
  }
}

.header-soc {
  display: flex;
  align-items: center;
  width: 120px;
  position: absolute;
  right: 0;
  bottom: -3px;

  @media (max-width: 1400px) {
    position: relative;
    bottom: auto;
    align-self: flex-end;
    margin-top: 16px;
  }

  @media (max-width: $md) {
    margin-top: 10px;
  }

  @media (max-width: $xs) {
    width: 80px;
    margin-top: 0;
  }

  &__item {
    margin-left: 16px;

    @media (max-width: $xs) {
      width: 16px;
      margin-left: 12px;
    }

    img {
      max-width: 100%;
    }
  }
}

.header-menu {
  margin-top: 28px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;

  @media (max-width: $sm) {
    flex-wrap: wrap;
  }

  @media (max-width: $xs) {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 15px;
    margin-top: 0;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
  }

  &__link {
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin: 0 26px;

    @media (max-width: 1400px) {
      font-size: 16px;
      margin: 0 15px;
    }

    @media (max-width: $md) {
      font-size: 14px;
    }

    @media (max-width: $sm) {
      margin-bottom: 15px;
    }

    @media (max-width: $xs) {
      margin: 0 0 15px;
    }

    &:first-child {
      margin-left: 0;

      @media (max-width: $xs) {
        margin-top: 15px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}